body {
  background-color: #ede8e7;
  font-family: "Fira Sans", sans-serif;
}

.Menubar {
  height: 100px;
  background-color: #e4523e;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

.Menubar div {
  width: 100%;
}

.Menubar h1 {
  font-size: 50px;
}

.Search {
  text-align: center;
  padding: 10px;
  border-right: 2px solid #474747;
  min-height: 400px;
}

@media only screen and (max-width: 480px) {
  .Menubar {
    height: 60px;
  }
  
  .Menubar h1 {
    font-size: 30px;
  }
  .Search {
    border-right: 0;   
    min-height: 230px; 
  }
  .Search img {
    display: none
  }
}

.Search img {
  margin-bottom: 20px;
  margin-top: 20px;
}

.custom-select {
  height: 40px;
  padding: 10px 38px 10px 16px;
  background-size: 10px;
  transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  background-color: #fff
}
.custom-select:hover {
  border: 1px solid #999;
}
.custom-select:focus {
  border: 1px solid #999;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  outline: none;
}

.custom-select:last-child {
  margin-top: 10px;
}

.Search div input {
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 9px 0px 10px 15px;
  width: 100%;
  margin-bottom: 5px
}

.Card {
  min-height: 100px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  flex-direction: column;
}

.Card img:hover {
  opacity: 0.5;
  background-color: #000;
}

.Loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin-left: 100px;
  margin-top: 10px;
}

@media only screen and (max-width: 480px) {
  .Loader {
    margin-left: 147px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.DayPickerInput{
  width: 100%
}

.ResetButton{
  width: 100%;
  padding: 10px;
  background-color: darksalmon;
  border: 0;
}

.ResetButton:hover{
  opacity: 0.8
}

.Results h1{
  text-align: center
}